body {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
}

#panel {
    position: absolute;
    z-index: 1;
    top: 10px;
    left:20px;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    /* background-color: red; */
    font-size: x-large;
    font-weight: bold;
    color: white;
    font-family: "Roboto";
    text-shadow: 1px 1px #000000;

}

#myDiv {
    position: absolute;
    z-index: 1;
    width: 50%;
    margin: 0px;
    height: 30%;
    padding: 0px;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
}


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font-family: 'Roboto';
    font-size: 12px;
    padding: 0;
    width: 200px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: #020202;
    color: #fff;
    margin: 0;
    font-size: 12px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}


#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Roboto';
}

#menuPoints {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    /* transform: translate(0, -50%); */
    right: 10px;
    border-radius: 3px;
    padding: 5px;
    width: 240px;
    font-size: small;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Roboto';
}

#slider {
    top: 200px;
    /* transform: translate(0, -50%); */
    border-radius: 3px;
    background: #fff;
    position: absolute;
    z-index: 1;
    width: 240px;
    padding: 5px;
    /* height: 100px; */
    right: 10px;
    /* Specified height */  
    font-size: small;
    font-family: 'Roboto';
    /* Grey background */
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}